{
  "plugins": ["tailwindcss"],
  "parser": "babel-eslint",
  "rules": {
    "tailwindcss/classnames": "off"
  },
  "overrides": [
    {
      "files": ["**/*.spec.js", "**/*.spec.jsx"],
      "env": {
        "jest": true
      }
    }
  ]
}
